.blog-post-1.ff-section 	{
	margin: 0 0 0 0;
	position: relative;
}

.blog-post-1.ff-section .vcenter-wrapper 	{
	display: table;
	width: 100%;
	height: 100%;
}

.blog-post-1.ff-section .vcenter 	{
	display: table-cell;
	vertical-align: middle;
}

.blog-post-1.ff-section .content-area__column 	{
	min-height: 0; /* fix for 1px empty space on top when sliding slider */
}

.blog-post-1.ff-section .post-block 	{
	padding: 46px 0 46px 0;
}

body.page .blog-post-1.ff-section .post-block,
body.single-portfolio .blog-post-1.ff-section .post-block 	{
	padding: 22px 0 22px 0;
}

.post-header 	{
	text-align: center;
}

.blog-post-1.ff-section .post-date 	{
	color: #989899;
	font-size: 9px;
	margin: 0 0 6px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.blog-post-1.ff-section .post-date a 	{
	display: inline-block;
	color: #989899;
	font-weight: 400;
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
}

.blog-post-1.ff-section .post-date a:focus,
.blog-post-1.ff-section .post-date a:hover 	{
	color: #444445;
	text-decoration: none;
	outline: none;
}

.blog-post-1.ff-section .post-date i 	{
	margin: 0 3px 0 0;
	position: relative;
	top: 1px;
}

body.single-portfolio .blog-post-1.ff-section .post-title,
body.page .blog-post-1.ff-section .post-title 	{
	margin-top: 17px;
}

.blog-post-1.ff-section .post-title 	{
	margin: 0 0 0 0;
	font-size: 21px;
	line-height: 1.46667;
	text-transform: none;
	text-align: center;
	font-weight: 300;
	letter-spacing: -0.4px;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}

.blog-post-1.ff-section .post-title a 	{
	position: relative;
	color: #444445;
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
	text-decoration: none;
}

.blog-post-1.ff-section .post-title a:focus 	{
	outline: none;
}

.blog-post-1.ff-section .post-meta 	{
	margin: 8px 0 0 0;
	padding: 0 3px 1px 3px;
	line-height: 1.66666;
	border-right: none;
	border-left: none;
	display: inline-block;
}

.blog-post-1.ff-section .post-meta__block 	{
	display: inline-block;
	padding: 0 3px;
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	color: #989899;
}

.blog-post-1.ff-section .post-meta i 	{
	margin: 0 2px 0 0;
	position: relative;
	top: 1px;
}

.blog-post-1.ff-section .post-meta a 	{
	color: #989899;
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
}

.blog-post-1.ff-section .post-meta a:focus,
.blog-post-1.ff-section .post-meta a:hover 	{
	color: #444445;
	text-decoration: none;
	outline: none;
}

.blog-post-1.ff-section .post-meta__author-name 	{
	position: relative;
}

.blog-post-1.ff-section .post-meta__author-box 	{
	display: block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 300px;
	height: 100px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.2);
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
	border: 2px solid #444445;
	top: -110px;
	left: 50%;
	margin: 0 0 0 -161px;
	border-radius: 0;
	-webkit-transition: 0.14s opacity ease-out;
	-moz-transition: 0.14s opacity ease-out;
	-o-transition: 0.14s opacity ease-out;
	transition: 0.14s opacity ease-out;
}

.blog-post-1.ff-section .post-meta__author-name:hover .post-meta__author-box 	{
	visibility: visible;
	opacity: 1;
}

.blog-post-1.ff-section .post-meta__author-box__inner 	{
	display: block;
	padding: 10px 0 0 0;
}

.blog-post-1.ff-section .post-meta__author-box img 	{
	border-radius: 99px;
	width: 140px;
	display: block;
	margin: 0 auto;
}

.blog-post-1.ff-section .post-expander 	{
	display: none;
}

.blog-post-1.ff-section .post-content 	{
	padding: 17px 0 0 0;
	margin: 0 0 21px 0;
}

.blog-post-1.ff-section .post-content a 	{
	text-decoration: underline;
	color: #989899;
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
}

.blog-post-1.ff-section .post-content a:hover 	{
	color: inherit;
}

.blog-post-1.ff-section .read-more-button 	{
	font-size: 9px;
	letter-spacing: 1px;
	font-weight: 400;
	color: #989899;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	margin: 14px 0 0 0;
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
}

.blog-post-1.ff-section .read-more-button:focus 	{
	outline: none;		
}

.blog-post-1.ff-section .read-more-button i 	{
	font-size: 9px;
	margin: 0 0 0 5px;
}

.blog-post-1.ff-section .post-footer 	{
	font-size: 9px;
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0 0 22px 0;
	padding: 0 0 0 0;
}

.blog-post-1.ff-section .post-footer__left 	{
	float: left;
}

.blog-post-1.ff-section .post-footer__right 	{
	float: right;
}

.blog-post-1.ff-section .post-footer a 	{
	color: #989899;
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
}

.blog-post-1.ff-section .post-footer__left a 	{
	padding: 0 15px 0 0;
}

.blog-post-1.ff-section .post-footer__right a 	{
	padding: 0 0 0 15px;
}

.blog-post-1.ff-section .post-footer a:focus,
.blog-post-1.ff-section .post-footer a:hover 	{
	outline: none;
	text-decoration: none;
	color: #444445;
}

.blog-post-1.ff-section .post-footer i 	{
    margin: 0 2px 0 0;
    position: relative;
    top: 1px;
}

.blog-post-1.ff-section .post-footer .comments-popup-link:before 	{
	content: '\e07d ';
	font-family: "Simple-Line-Icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;

    margin: 0 2px 0 0;
    position: relative;
    top: 1px;
}

.blog-post-1.ff-section .post-footer__button-text 	{
	text-transform: uppercase;
}

.post-share__popup 	{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999999;
}

.post-share__popup .vcenter-wrapper 	{
	display: table;
	width: 100%;
	height: 100%;
}

.post-share__popup .vcenter 	{
	display: table-cell;
	vertical-align: middle;
}

.post-share__overlay 	{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
}

.post-share__inner 	{
	display: table;
	table-layout: fixed;
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #000000;
}

.post-share__inner a.post-share__network-link 	{
	display: table-cell;
	text-decoration: none;
	color: #ffffff;
	opacity: 0.5;
	padding: 0;
	margin: 0;
	padding: 20px 0;
	font-size: 20px;

	-webkit-transition: 0.14s all ease-out;
	-moz-transition: 0.14s all ease-out;
	-o-transition: 0.14s all ease-out;
	transition: 0.14s all ease-out;
}

.post-share__inner a.post-share__network-link:focus,
.post-share__inner a.post-share__network-link:hover 	{
	outline: none;
	text-decoration: none;
	opacity: 1;
}

.post-share__inner a.post-share__network-link i 	{
	font-size: 20px;
}

.blog-post-1__skrollr-transition--off 	{
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.blog-post-1__skrollr-transition--on 	{
	-webkit-transition: 0.325s all ease-out;
	-moz-transition: 0.325s all ease-out;
	-o-transition: 0.325s all ease-out;
	transition: 0.325s all ease-out;
}

/* ********** */
/* RESPONSIVE */
/* ********** */

@media (min-width: 768px) {

	.blog-post-1.ff-section .post-block 	{
		padding: 64px 0 64px 0;
	}

	body.page .blog-post-1.ff-section .post-block,
	body.single-portfolio .blog-post-1.ff-section .post-block 	{
		padding: 64px 0 64px 0;
	}

	body.single-portfolio .blog-post-1.ff-section:first-child .post-block,
	body.page .blog-post-1.ff-section:first-child .post-block 	{
		padding-top: 124px;
	}

	.blog-post-1.ff-section .post-date 	{
		font-size: 11px;
		letter-spacing: 1px;
	}

	.blog-post-1.ff-section .post-title 	{
		font-size: 32px;
	}

	.blog-post-1.ff-section .post-meta 	{
		margin: 10px 0 24px 0;
	}

	.blog-post-1.ff-section .post-meta__block 	{
		font-size: 11px;
		letter-spacing: 1px;
		padding: 0 7.5px;
	}

	.blog-post-1.ff-section .post-content 	{
		margin-bottom: 36px;
		padding-top: 6px;
	}

	body.single-portfolio .blog-post-1.ff-section .post-content,
	body.page .blog-post-1.ff-section .post-content 	{
		padding-top: 26px;
	}

	.blog-post-1.ff-section .post-footer 	{
		font-size: 11px;
		letter-spacing: 1px;
		margin-bottom: 18px;
	}

	.blog-post-1.ff-section .read-more-button 	{
		font-size: 11px;
	}

	.blog-post-1.ff-section .read-more-button i 	{
		font-size: 11px;
	}

	.post-share__inner a.post-share__network-link 	{
		padding: 34px 0;
		font-size: 36px;
	}

	.post-share__inner a.post-share__network-link i 	{
		font-size: 36px;
	}

}

@media (min-width: 992px) {

	.blog-post-1.ff-section .post-block 	{
		padding: 124px 0 129px 0;
	}

	.featured-area-1.ff-section + .blog-post-1.ff-section .post-block,
	.featured-slider-1.ff-section + .blog-post-1.ff-section .post-block,
	.featured-video-1.ff-section + .blog-post-1.ff-section .post-block 	{
		padding: 104px 0 109px 0;
	}

	.blog-post-1.ff-section .post-date 	{
		font-size: 12px;
		letter-spacing: 1px;
		margin: 0 0 16px 0;
	}

	.blog-post-1.ff-section .post-title 	{
		font-size: 44px; /* 44px 45px*/
		letter-spacing: -0.7px;
	}

	.blog-post-1.ff-section .post-title a:hover 	{ /* desktop only - leaves hover after tap */
		color: #989899;
	}

	.blog-post-1.ff-section .post-meta 	{
		margin: 15px 0 0 0;
	}

	.blog-post-1.ff-section .post-meta__block 	{
		font-size: 12px;
		letter-spacing: 1px;
		padding: 0 7.5px;
	}

	.blog-post-1.ff-section .post-meta i 	{
		font-size: 13px;
	}

	.blog-post-1.ff-section .read-more-button 	{
		font-size: 12px;
		letter-spacing: 1px;
		margin: 20px 0 0 0;
	}

	.blog-post-1.ff-section .read-more-button i 	{
		font-size: 14px;
		margin: 0 0 0 10px;
		position: relative;
		left: 0;
		-webkit-transition: 0.14s left ease-out;
		-moz-transition: 0.14s left ease-out;
		-o-transition: 0.14s left ease-out;
		transition: 0.14s left ease-out;
	}

	.blog-post-1.ff-section .read-more-button:hover 	{ /* desktop only - leaves hover after tap */
		color: #444445;
	}

	.blog-post-1.ff-section .read-more-button:hover i 	{
		left: 4px;
	}

	.blog-post-1.ff-section .post-content 	{
		padding: 45px 0 0 0;
		margin: 0 0 53px 0;
	}

	body.page .blog-post-1.ff-section .post-content 	{
		padding: 45px 0 0 0;
	}

	.blog-post-1.ff-section .post-footer 	{
		font-size: 12px;
		margin-bottom: 44px;
	}

	.blog-post-1.ff-section .post-footer i 	{
		font-size: 13px;
	}

	.blog-post-1.ff-section .post-footer .comments-popup-link:before 	{
	    font-size: 13px;
	}

	.post-share__overlay 	{
		background-color: rgba(0,0,0,0.1);
	}

	.post-share__inner a.post-share__network-link 	{
		padding: 44px 0;
		font-size: 48px;
	}

	.post-share__inner a.post-share__network-link i 	{
		font-size: 48px;
	}
	
}

@media (min-width: 1650px) {

	.blog-post-1.ff-section 	{
		padding-top: 1%;
		padding-bottom: 1%;
	}

}


