<div class="comments-modal-1 ff-block">
	<a href="" class="comments-modal-1__overlay hide-comments"></a>
	<div class="modal-inner-container">
		<div class="modal-inner-wrapper">
			<div class="insert-comments"></div>
		</div>
		<div class="comments-modal-1__header">
			<div class="comments-modal-1__header__bg-image"></div>
			<div class="vcenter-wrapper">
				<div class="vcenter">
					<i class="icon-bubble"></i>
					<div class="insert-article-title"></div>
					<div class="insert-comments-title"></div>
				</div>
			</div>
		</div>
		<a href="" class="comments-modal__close-button hide-comments background-check"></a>
	</div>
</div>