<div class="footer-2 ff-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-2__text pull-left">
				 Hold Do Not Destroy &copy; {{date format="YYYY"}}.<br/>
				 Digital by <a href="http://www.firelabs.io/">Firelabs</a>.
				</div>
				<div class="footer-2__social pull-right">
					<ul class="social-icons">
						{{> "social-links"}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
