<li class="social-icon">
	<a href="http://instagram.com/holddonotdestroy" target="_blank">
		<i class="ff-font-zocial icon-instagram"></i>
	</a>
</li>
<li class="social-icon">
	<a href="http://facebook.com/holddonotdestroy/" target="_blank">
		<i class="ff-font-zocial icon-facebook"></i>
	</a>
</li>
<li class="social-icon">
	<a href="https://issuu.com/abrahamdesouza" target="_blank">
		<i class="ff-font-zocial icon-buffer"></i>
	</a>
</li>
